.about-me {
    position: absolute;
    top:15%;
    margin-left:7%;
    margin-right:65%;
    color:$textColor;

    h1{
        font-size: 70px;
    }

    p{
        font-size: 25px;
    }
}

.photo{
    position: absolute;
    background-color: white;
    margin:100px;
    padding-bottom:400px;
    padding-right: 200px;
    left:420px;
    top:80px;
}