@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

* 
{
  font-family: 'Work Sans', sans-serif;
  color:white;
  font-weight: 100;
}

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #110E19;
}

.index-container, .contact-me, .about-me
{
  overflow: hidden;
  margin-bottom: -22vh;
}

.menu ul
{
  position: fixed;
  display:inline-flex;
  list-style: none;
  color:white;
  font-size: 5vh;
  left:calc(100% - 88.5%);
  top:-3.5vh;
  z-index: 100;
}

.logo-container img
{
  position: absolute;
  width:7%;
  top:-2vh;
  transform: scale(0.7);
  margin-bottom: -0.8vh;
}

.nav-link
{
  text-decoration: none;
  color:rgb(182, 182, 182);
  margin:0 12vw 0 0;
  opacity: 60%;
}

.nav-link:hover 
{
  opacity: 100%;
  color:white;
}

.horizontal-line
{
  position: absolute;
  color:white;
  top:9vh;
  left:15%;  
  width:70%;
  border:0.1px solid;
}

.introduction
{
  width:100%;
  height:100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.introduction > #name
{
  position: absolute;
  top:8vh;
  font-size: 4vw;
}

.portfolioButton{
  position: relative;
  display:flex;  
  width:16vw;
  justify-content: center;
  border-radius: 20px;
  top:-30vh;
  font-size: 5vh;
  text-decoration: none;
}

.portfolioButton:hover{
  background-color: rgba(0,0,0,0.3);
}

.introduction h2
{
  position: absolute;
  transform:translate(-100%);
  top:35vh;
  font-size: 3.5vw;
}

.introduction span
{
  position: absolute;
  left:11vw;
  margin-right: -490px;
  font-size: 3.5vw;
}

.introduction span:before 
{
  content: '';
  -webkit-animation: jobAnimation infinite 8s;
          animation: jobAnimation infinite 8s;
}

@keyframes jobAnimation 
{
  0% {
    content: 'Web Developer';
  }
  33% {
    content: 'Programmer';
  }
  66% {
    content: 'Game Designer';
  }
  100% {
    content: 'Web Developer';
  }
}
/* ////// */

.the-last-light h1{
  position:relative;
  text-align: center;
  font-size: 5vh;
}

.the-last-light{
  background-size: cover;
  background-position: center;
  position: absolute;
  top:10vh;
  display:table;
  height:70vh;
  width:50%;
  background-image: url("Images/thelastlight.jpg");
}

.the-last-light .description{
  position: relative;
  top:6vh;
  font-size: 3vh;
  margin:50px;
  text-align: justify;
  color:white;
  opacity:1;
}

.the-last-light .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #000000;
}

.the-last-light:hover .overlay {
  opacity: 0.7;
}

.the-last-light:hover .description{
  opacity:1;
  color:white;
}

.out-of-the-shadows h1{
  position:relative;
  text-align: center;
  font-size: 5vh;
}

.out-of-the-shadows{
  background-size: cover;
  background-position: center;
  position: absolute;
  top:10vh;
  left:50%;
  display:table;
  height:70vh;
  width:50%;
  background-image: url("Images/out_of_the_shadows.jpg");
}

.out-of-the-shadows .description{
  position: relative;
  top:6vh;
  font-size: 3vh;
  margin:50px;
  text-align: justify;
  color:white;
  opacity:1;
}

.out-of-the-shadows .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #000000;
}

.out-of-the-shadows:hover .overlay {
  opacity: 0.7;
}

.out-of-the-shadows:hover .description{
  opacity:1;
}

.ahpuch h1{
  position:relative;
  text-align: center;
  font-size: 5vh;
}

.ahpuch{
  background-size: cover;
  background-position: center;
  position: absolute;
  top:80vh;
  left:50%;
  display:table;
  height:70vh;
  width:50%;
  background-image: url("Images/ahpuch.jpg");
}

.ahpuch .description{
  position: relative;
  top:6vh;
  font-size: 3vh;
  margin:50px;
  text-align: justify;
  color:white;
  opacity:1;
}

.ahpuch .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #000000;
}

.ahpuch:hover .overlay {
  opacity: 0.7;
}

.ahpuch:hover .description{
  opacity:1;
}


.leonard h1{
  position:relative;
  text-align: center;
  font-size: 5vh;
}

.leonard{
  background-size: cover;
  background-position: center;
  position: absolute;
  top:80vh;
  display:table;
  height:70vh;
  width:50%;
  background-image: url("Images/leonard.jpg");
}

.leonard .description{
  position: relative;
  top:6vh;
  font-size: 3vh;
  margin:50px;
  text-align: justify;
  color:white;
  opacity:1;
}

.leonard .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #000000;
}

.leonard:hover .overlay {
  opacity: 0.7;
}

.leonard:hover .description{
  opacity:1;
}

.frogger h1{
  position:relative;
  text-align: center;
  font-size: 5vh;
}

.frogger{
  background-size: cover;
  background-position: center;
  position: absolute;
  top:150vh;
  left:35%;
  display:table;
  height:75vh;
  width:30%;
  background-image: url("Images/frogger.jpg");
}

.frogger .description{
  position: relative;
  top:6vh;
  font-size: 3vh;
  margin:50px;
  text-align: justify;
  color:white;
  opacity:1;
}

.frogger .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #000000;
}

.frogger:hover .overlay {
  opacity: 0.7;
}

.frogger:hover .description{
  opacity:1;
}

/* /////// */


.about-me h1
{
  position: absolute;
  top:6vh;
  left:13vw;
  font-size: 4vw;
}

.about-me p
{
  position: absolute;
  top:20vh;
  left:13vw;
  font-size: 1.3vw;
  margin-right: 70vw;
}

.photo img
{
  position: absolute;
  width:20%;
  top:10vh;
  left:30vw;
  transform: scale(0.7);
  margin-bottom: -0.8vh;
}

/* //////// */
.contact-me
{
  overflow-x:hidden;
}

.social-media
{
  display:flex;
  justify-content: center;
  position: relative;
  top:-12vh;
}

.social-media div
{
  margin-left:2vw;
  margin-right:2vw;
}

/* Graphs */
.container{
  position: relative;
  left:450px;
  top:-920px;
  width: 40%;
  margin: 0 auto;
}

.container h1{
  position: relative;
  top:0px;
  left:0px;
}

.container h3{
  font-size: 30px;
  margin-top: -4vh;
  margin-bottom: 5vh;
}

.container div{
  position: relative;
  top:-30px;
}

@keyframes load{
  from {
    width: 0%
  }
}

@-webkit-keyframes load{
  from {
    width: 0%
  }
}

@-moz-keyframes load{
  from {
    width: 0%
  }
}

@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 35px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  display: inline-block;
  padding: 7px 0 5px 25px;
  border-radius: inherit;
  animation: load 1s 0s;
  -webkit-animation: load 1s 0s;
  -moz-animation: load 1s 0s;
  -o-animation: load 1s 0s;
}

.bar.languages::before{
  background-color: #ff6600;
}

.bar.software::before{
  background-color: #001263;
}

.bar.css::before{
  width: calc(35% - 10px);
}
.bar.html::before{
  width: calc(35% - 10px);
}
.bar.csharp::before{
  width: calc(30% - 10px);
}
.bar.unity::before{
  width: calc(40% - 10px);
}
.bar.houdini::before{
  width: calc(20% - 10px);
}
/**/

.cf-container
{
  background-color: rgba(0,0,0,0.3);
  padding:2.5vw;
  position: absolute;
  transform: translate(60%, -100%);
  width:40%;
}

.cf-text::placeholder{
  color:white;
}

.cf-container h1
{
  position: relative;
  top:5vh;
  margin-top:-5vh;
  text-align: center;
  font-size: 4vw;
}

.input-container label{
  font-size: 1.5vw;
}

.cf-text, .cf-button
{
  background-color: rgba(0,0,0,0.3);
  box-sizing: border-box;
  width:100%;
  display:block;
  font-size: 3.5vh;
  color:black;
  border:none;
  margin-bottom: 1vh;
}

.cf-button
{
  margin-top:3vh;
  color:white;
}