body{
  overflow: none;
}

.description-container{
  position: relative;
  width:40vw;
  height:100vh;
  float:right;
  margin-right:1vw;
  background:var(--bg-primary);
}

.description-code{
  position:relative;
  /* left:-10vw; */
  font-size: 1.4rem;
}

.type{
  font-style: normal;
  color:rgba(50,128,200,255);
}

.string-definition{
  font-style: normal;
  color:rgb(193,120,75);
}

.description-text{
  position:relative;
  left:6.5vw;
  margin-left: 0vw;
  margin-right:8vw;
  font-size: 1.4rem;
}

#contact-button{
  text-decoration: none;
}

#languages{
  position:absolute;
  right:38vw;
  top:2.5vh;
  float:right;
  font-size: 3rem;
}

#language-container{
  font-size: 2rem;
  margin-top:5vh;
  text-align: right;
}

.language{
  position:relative;
  margin-bottom:1vh;
  width:30vw;
  height:5vh;
  vertical-align: middle;
  right:5vw;
  border-style:initial;
  border-radius: 1vw;
  padding-right:1vw;
}

.percentage{
  width:100%;
  height:100%;
}

#software{
  position:absolute;
  right:38vw;
  text-align: center;
  top:50vh;
  float:right;
  font-size: 3rem;
}

#software-container{
  font-size: 2rem;
  margin-top:5vh;
  text-align: right;
}

.program{
  position:relative;
  margin-bottom:1vh;
  width:30vw;
  right:5vw;
  border-style:initial;
  border-radius: 1vw;
  padding-right:1vw;
}
