/* //////// */
#social-media{
  position: absolute;
  bottom:3vh;
  left:17vw;
  display:flex;
  justify-content: space-around;
  width:35vw;
}

.platform{
  transition:all 0.3s ease-in-out;
}

.platform img{
  position:relative;
  margin:0;
}

.platform > a{
  position: absolute;
  top:0%;
  display:block;
  width:15%;
  height:100%;
}

.platform:hover{
  transform:translateY(-3vh);
}

#invitation{
  position: absolute;
  top:8vh;
  left:16vw;
  text-align: right;
  font-size: 1.3rem;
}

#invitation > #background{
  width:30vw;
  height:20vh;
  background:rgba(93, 93, 94, 0.1);
  padding:2vw;
}

.contact-form{
  display:flex;
  flex-direction: column;
  float:right;
  justify-content: center;
  background:var(--bg-primary);
  border-radius: 0.5rem;
  height:100vh;
  padding-left:3vw;
  margin-right: 1vw;
}

.contact-form h1{
  text-align: center;
  position: relative;
  top:-10vh;
  font-size: 4rem;
  margin:0;
}

.contact-form h2{
  text-align: center;
  position:relative;
  top:-5vh;
  font-size: 1.3rem;
}

.contact-form input, textarea{
  float:right;
  width:25vw;
  margin-bottom:1vh;
  margin-left:1vw;
  font-size: 2rem;
}

.contact-form label{
  font-size: 1.5rem;
}

.cf-text{
  font-family: var(--primary-font);
  font-weight: bold;
  color:black;
  font-size: 1.2rem;
}

.cf-button{
  position:relative;
  float:right;
  padding-top: 3vh;
  padding-bottom:3vh;
  max-height: 9vh;
  background:none;
  color:white;
  font-size: 2rem;
  vertical-align: middle;
  text-align: center;
  border:none;
  transition:all var(--transition-speed) ease-in-out;
  font-family: var(--primary-font);
  font-weight: bold;
}


.cf-button:hover{
  font-size: 2.5rem;
}

.cf-button:active{
  outline:none;
}