.index-container{
  position: absolute;
}

.blurred-background{
  width:35vw;
  height:100vh;
  background-color: rgba(255, 255, 255, 0.2);
  filter:blur(8px);
  opacity: 0.3;
}

.introduction{
  display:flex;
  position: absolute;
  top:20vh;
}

#first-name{
  position:fixed;
  right:65vw;
  font-size: 8rem;
}

#sur-name{
  position:fixed;
  left:35vw;
  font-size: 8rem;
  font-weight: bold;
}

#professions{
  position:fixed;
  text-align: right;
  top:40vh;
  right:65vw;
  font-size: 1.5rem;
}