body{
  overflow-y: scroll;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 5rem;
  width:50vw;
}

.portfolio-container{
  margin:0;
  width:100vw;
  height:30vh;
  position:relative;
  overflow: hidden;
  transition: height 0.35s ease;
  margin-bottom:0.1vh;
}

#modal{
  position:absolute;
  display:none;
  width:80vw;
  height:80vh;
  top:10vh;
  left:10vw;
  z-index: 100;
  background:red;
}

.modal-button{
  position:absolute;
  background:blue;
  width:100vw;
  height:100%;
  border:none;
}

.portfolio-container:hover{
  height:50vh;
}

.portfolio-container:hover .portfolio-item-name {
  font-size: 3.5rem;
}

.portfolio-item-blur-background{
  position:absolute;
  width:45vw;
  height:100%;
  background: var(--bg-primary);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  opacity: 0.6;
}

.portfolio-item-name{
  display:flex;
  position:relative;
  height:100%;
  align-items: center;
  font-size: 2.5rem;
  transition: font-size 1s ease;
  float:right;
  margin-right:1vw;
}

.portfolio-item-image img{
  position:absolute;
  left:45vw;
  width:55%;
}