@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

* 
{
  color:white;
  font-weight: 100;
}

:root{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  --text-primary:white;
  --text-secondary:rgb(255, 255, 255);
  --bg-primary:rgba(0, 0, 0, 0);
  --bg-secondary:rgba(255, 0, 0, 0);
  --transition-speed: 600ms;
  font-weight: 400;
}

body::-webkit-scrollbar{
  width:0.25rem;
}

body::-webkit-scrollbar-track{
  background:#1e1e24;
}

body::-webkit-scrollbar-thumb{
  background:#483285;
}


body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height:100%;
  margin:0;
  padding:0;
}

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #110E19;
}