.projects h1{
    color:white;
    font-size: 70px;
    position: absolute;
    top:10%;
    left:7%;
  }
  
  .out-of-the-shadows{
    position: absolute;
    top:30%;
    left:51%;
  }
  
  .placeholder{
    position: absolute;
    top:30%;
    left:0%;
  }